<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Movie Reviews</h1>
  <ul id='movies'></ul>
  <form id="addMovie">
    <h3>Movie Name:</h3>
    <input type="text" placeholder="Movie Name" id="Name">
    <h3>Description:</h3>
    <input type="text" placeholder="Description" id="Description">
    <h3>Genre:</h3>
    <input type="text" placeholder="Genre" id="Genre">
    <h3>Release Date:</h3>
    <input type="text" placeholder="Release Date" id="ReleaseDate">
    <h3>Director:</h3>
    <input type="text" placeholder="Director" id="Director">
    <h3>Running Time:</h3>
    <input type="text" placeholder="Running Time" id="RunningTime">
    <h3>Star Rating:</h3>
    <input type="text" placeholder="StarRating" id="StarRating">
    <h3>Image:</h3>
    <input type="text" placeholder="Image" id="Image">

    <input type="submit" id="submit_movie" value="Submit">Submit Movie</button>
  </form>

  <script src="static/index.js"></script>
</body>

</html>
