<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="static/style.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <h1>Movie Reviews</h1>
  <section>
    <div class="wrapper" id="movies">

    </div>
    <div id="button-div">
      <button id="modalBtn" class="addMovieBtn">Add Movie</button>
    </div>

  </section>

  <div id="simpleModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="closeBtn">&times;</span>
        <h2>Add Movie</h2>
      </div>
      <div class="modal-body">
        <form id="addMovie">
          <div class="input-fields">
            <input class="movie-inputs" type="text" placeholder="Movie Name" id="Name">
            </br>
            <textarea class="movie-inputs" type="text" placeholder="Description" id="Description"></textarea>
            </br>
            <input class="movie-inputs" type="text" placeholder="Genre" id="Genre">
            </br>
            <input class="movie-inputs" type="text" placeholder="Release Date" id="ReleaseDate">
            </br>
            <input class="movie-inputs" type="text" placeholder="Director" id="Director">
            </br>
            <input class="movie-inputs" type="text" placeholder="Running Time" id="RunningTime">
            </br>
            <input class="movie-inputs" type="text" placeholder="StarRating" id="StarRating">
            </br>
            <input class="movie-inputs" type="text" placeholder="Image URL" id="Image">
            </br>
            <input type="submit" id="submit_movie" class="addMovieBtn" value="Submit"></input>
          </div>
        </form>
      </div>
    </div>
  </div>



  <script src="static/index.js"></script>
</body>

</html>
